RewriteEngine on

# Prevent users from accessing the sub-sites directly by using a /sites path off the main kdhstuff.com domain
RewriteCond %{REQUEST_URI} ^/sites/.*$
RewriteRule ^.*$ / [NC,R,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
