@CHARSET "UTF-8";

.incorrect {
    background-color: #f99;
}
.setbysystem {
    color: blue;
}
.hidden {
    display: none;
}
.bold {
    font-weight: bold;
}

/*
 * Updates to help work with Twitter Bootstrap
 */
.table-nonfluid {
    width: auto;
}

/*
 * Logos
 */
div.logo {
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0px auto;
}
div.logo-small {
    background-image: url(/images/logo-small.png);
    width: 30px;
    height: 30px;
}
div.logo-medium {
    background-image: url(/images/logo-medium.png);
    width: 50px;
    height: 50px;
}
div.logo-large {
    background-image: url(/images/logo-large.png);
    width: 80px;
    height: 80px;
}
div.logo-small-inactive {
    background-image: url(/images/logo-small-inactive.png);
    width: 30px;
    height: 30px;
}
div.logo-medium-inactive {
    background-image: url(/images/logo-medium-inactive.png);
    width: 50px;
    height: 50px;
}
div.logo-large-inactive {
    background-image: url(/images/logo-large-inactive.png);
    width: 80px;
    height: 80px;
}


/******* winner badges ********/
.winnerbadge-wrapper {
    display: inline-block;
    position: relative;
}
.winnerbadge-wrapper img {
    border: 0;
    cursor: pointer;
}
.winnerbadge-wrapper .year {
    position: absolute;
    font-weight: bold;
    cursor: pointer;
}
.winnerbadge-wrapper .year.pot1 {
    color: black;
    top: 6px;
    left: 3px;
}
.winnerbadge-wrapper .year.pot2 {
    color: black;
    top: 0px;
    left: 1px;
}
.winnerbadge-wrapper .year.pot3 {
    color: #7b0098;
    top: -6px;
    left: 4px;
}


/*
 * MOV Stuff
 */
.pickMov {
    /*
    float: right;
    margin-top: -10px;
    */
    position: absolute;
    top: -1px;
    right: -1px;
    font-weight: bold;
    font-size: 8px;
    color: green;
}
.pickMov.old {
    top: -3px;
}
.pickMov.incorrect {
    color: black;
}

/*
 * Unique displays for top power/money
 */
.power1 {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
.power2 {
    background: #d2dfed; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2dfed), color-stop(26%,#c8d7eb), color-stop(51%,#bed0ea), color-stop(51%,#a6c0e3), color-stop(62%,#afc7e8), color-stop(75%,#bad0ef), color-stop(88%,#99b5db), color-stop(100%,#799bc8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
}
.power3 {
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e2c7), color-stop(50%,#c19e67), color-stop(51%,#b68d4c), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
