@CHARSET "UTF-8";

th.incorrect, td.incorrect, .incorrect td,
/* the next line is to counter-act the effects of bootstrap clearing out our table cell coloring */
table.picks > tbody > tr > td.incorrect {
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}
.setbysystem {
    color: blue;
}
.hidden {
    display: none;
}
.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.unused-column {
    color: #aaa !important;
    font-size: 80% !important;
}
tr.sortable th {
    cursor: pointer;
}

/*
 * Updates to help work with Twitter Bootstrap
 */
body {
    padding-top: 70px;  /* @see http://getbootstrap.com/components/#navbar-fixed-top */
}
.table-nonfluid {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.picks > thead > tr > th, .picks > tbody > tr > th, .picks > tfoot > tr > th, .picks > thead > tr > td, .picks > tbody > tr > td, .picks > tfoot > tr > td {
    padding: 1px;
    vertical-align: middle;
}
.picks > thead > tr > th, .picks > tbody > tr > th, .picks > tfoot > tr > th, .picks > thead > tr > td {
    text-align: center;
}
.picks > thead > tr > th.text-right {
    text-align: right;
}
.picks.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f0f0f0
}
.navbar-brand {
    font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ff0;
}
.navbar .loginlogout a {
    color: #fff;
}
.panel-group .panel.talk + .panel.talk {
    margin-top: 20px;
}


/*
 * Pick table stuff
 */
th.active-sort {
    background: linear-gradient(#f0f0f0, #6d94bf);
}
th.active-sort.reverse {
    background: linear-gradient(#6d94bf, #f0f0f0);
}
.accordian-link {
    cursor: pointer;
}
table.payout-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
table.payout-table th {
    text-align: center;
}


/*
 * Avatars
 */
.avatar-wrapper {
     width: 44px;
     float: left;
     margin-right: 10px;
}
img.avatar {
    margin: 0 5px;
    cursor: pointer;
}
.avatar-zoom {
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
img.tiny-avatar {
    height: 16px;
}


/*
 * Logos
 */
div.logo {
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0px auto;
}
div.logo-small {
    background-image: url(/images/logo-small.png);
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
div.logo-medium {
    background-image: url(/images/logo-medium.png);
    width: 50px;
    height: 50px;
}
div.logo-large {
    background-image: url(/images/logo-large.png);
    width: 80px;
    height: 80px;
}
div.logo-small-inactive {
    background-image: url(/images/logo-small-inactive.png);
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
div.logo-medium-inactive {
    background-image: url(/images/logo-medium-inactive.png);
    width: 50px;
    height: 50px;
}
div.logo-large-inactive {
    background-image: url(/images/logo-large-inactive.png);
    width: 80px;
    height: 80px;
}


/*
 * Winner Badges
 */
.winnertrophy-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 2px;
}
.winnertrophy-wrapper img {
    border: 0;
    cursor: pointer;
}
.winnertrophy-wrapper .year {
    position: absolute;
    font-weight: bold;
    font-size: 80%;
    cursor: pointer;
}
.winnertrophy-wrapper .year.pot1 {
    color: black;
    top: 6px;
    left: 3px;
}
.winnertrophy-wrapper .year.pot1.place1 {
    color: yellow;
}
.winnertrophy-wrapper .year.pot2 {
    color: black;
    top: 0px;
    left: 1px;
}
.winnertrophy-wrapper .year.pot3 {
    color: #7b0098;
    top: -6px;
    left: 4px;
}


/*
 * User Badges
 */
.user-badge {
    margin-right: 2px;
}
img.user-badge {
    border: 0;
    cursor: pointer;
}


/*
 * Pick/MOV Stuff
 */
.picks tr.sortheads th {
    cursor: pointer;
}
.pick-wrapper {
    position: relative;
}
.pickMov {
    /*
    float: right;
    margin-top: -10px;
    */
    position: absolute;
    top: -1px;
    right: 1px;
    font-weight: bold;
    font-size: 8px;
    color: green;
}
.pickMov.old {
    top: -12px;
}
.pickMov.incorrect {
    color: black;
}
.pickBandwagon {
    position: absolute;
    top: -17px;
    left: 1px;
}
.pickBandwagon img {
    height: 8px;
}
.bandwagon-main-icon-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-left: 2px;
    opacity: 0.85;
    background-color: inherit;
}


/*
 * Popovers
 * - Modifications to the Bootstrap popover default css
 * - Additions for our own custom stuff
 */
.popover {
    max-width: 400px;
    min-width: 200px;
}
.popover-title {
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
}
.popover-title .icon {
    float: right;
    margin-top: -3px;
}
.popover .type-label {
    font-size: 60%;
    font-weight: bold;
    margin-top: -5px;
    padding-left: 5px;
    background-color: #fff;
    position: absolute;
    right: 10px;
}
.popover .popover-table {
    margin-top: 20px;
}
.popover .popover-table > tbody > tr > td:first-child {
    font-weight: bold;
}
.table.popover-table > tbody > tr.separator > th, .table.popover-table > tbody > tr.separator > td {
    border-top: 1px solid #999;
}
.help-link {
    cursor: pointer;
}


/*
 * Talk
 * - Override some panel styles from Bootstrap
 * - "Like" styles
 */
.talk {
    margin: 20px 10px;
    box-shadow: 4px 4px 3px #999999;
}
.talk.panel-warning {
    box-shadow: 4px 4px 3px #C09853;
}
.talk .talk-time {
    position: relative;
    float: right;
}
.talk .like-button {
    position: relative;
    float: right;
}
.like-button {
    background-image: url(/images/like.png);
    background-position: 0 0;
    width: 28px;
    height: 24px;
    cursor: pointer;
}
.like-button:hover {
    margin: 1px -1px -1px 1px;
}
.like-button.active {
    background-position: 0 -24px;
}
.like-button.pending {
    background-position: 0 -48px;
}
.like-button.active:hover, .like-button.pending:hover {
    margin: 0;
}
.likes {
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .talk {
        width: 100%;
    }
}


/*
 * Profiles
 */
.panel.profile .panel-heading .username {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-top: -35px;
    margin-left: 50px;
}
.loseryear {
    margin: 0 3px;
}
.loseryear.inactive {
    background-color: transparent;
    color: #999;
}
.trophycase {
    display: inline-block;
    margin-right: 10px;
}
#trophycase {
    margin-left: 50px;
}
.trophycase .popover, .trophycase .popover td, .trophycase .popover th {
    color: #666;
}
.referral-display, .profile-bubble {
    display: inline-block;
    border: #ddd 1px solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 2px;
    padding: 2px;
    background-color: #f3f3f3;
    white-space: nowrap;
}
.referral-display.parent {
    background-color: #fffff3;
    padding: 4px;
}
.stat-description {
    margin: 0 10px 20px;
    font-style: italic;
    text-align: center;
}


/*
 * Bandwagon
 */
#the-bandwagon .chief {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 300px;
    font-weight: bold;
    border-radius: 5px;
    border: red 2px solid;
    padding: 3px;
    background-color: #fff;
    background: linear-gradient(#ffffff, #e0e0e0);
    box-shadow: 4px 4px 6px #666666;
}
#the-bandwagon .others {
    float: left;
}



/*
 * Unique displays for top power/money
 */
.power1 {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
.power2 {
    background: #d2dfed; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2dfed), color-stop(26%,#c8d7eb), color-stop(51%,#bed0ea), color-stop(51%,#a6c0e3), color-stop(62%,#afc7e8), color-stop(75%,#bad0ef), color-stop(88%,#99b5db), color-stop(100%,#799bc8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
}
.power3 {
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e2c7), color-stop(50%,#c19e67), color-stop(51%,#b68d4c), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
